# Black Friday Sales Prediction

This dataset comprises of sales transactions captured at a retail store. Itâ€™s a classic dataset to expand features and understand from multiple shopping experiences. This is a regression problem. The dataset has 550,069 rows and 12 columns.

**Problem:** Predict purchase amount.

## Libraries

In [2]:
# python 3 environment
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O

# plotly Libraris
import plotly.express as px
import plotly.graph_objects as go
import plotly.figure_factory as ff
from plotly.colors import n_colors
from plotly.subplots import make_subplots

# machine learning library
from pycaret.regression import *

## Step 1: Data

In [3]:
data = pd.read_csv('../Black Friday Sales Prediction/Data Sources/train.csv'); data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     550068 non-null  int64
 1   Product_ID                  550068 non-null  object
 2   Gender                      550068 non-null  object
 3   Age                         550068 non-null  object
 4   Occupation                  550068 non-null  int64
 5   City_Category               550068 non-null  object
 6   Stay_In_Current_City_Years  550068 non-null  object
 7   Marital_Status              550068 non-null  int64
 8   Product_Category_1          550068 non-null  int64
 9   Product_Category_2          376430 non-null  float64
 10  Product_Category_3          166821 non-null  float64
 11  Purchase                    550068 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 50.4+ MB

In [4]:
data.head(3)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422

## Step 2: Exploratory Data Analysis

Before creating a prediction model, the understanding of the data will be done by visually schematizing the answer to multiple questions of curiosity and understanding the context of the data.

How does gender influence spending?

How does marital status affect price? 

How many unique users are there in the database?

How does gender influence spending?

What is the best selling category?

### How many unique users are there in the database?

In [5]:
print(f'The data consists of {data.shape[0]} rows with {data.User_ID.nunique()} unique users')

The data consists of 550068 rows with 5891 unique users

### How does gender influence spending?

### How does marital status affect price?

## Step 3: Model

### 3.1 Setting up Environment
This function initializes the environment in pycaret and creates the transformation pipeline to prepare the data for modeling and deployment.

In [ ]:
setup(data, 
      target = 'Purchase', 
      normalize = True, 
      normalize_method = 'robust',
      transformation = True, 
      transformation_method = 'yeo-johnson',
      transform_target = True, 
      handle_unknown_categorical = True,
      unknown_categorical_method = 'least_frequent',
      remove_outliers = True,
      outliers_threshold = 0.1,
      create_clusters = True,
      polynomial_features = True,
      polynomial_degree = 2,
      feature_interaction = True,
      categorical_features = ['Occupation'],
      sampling = False, 
      silent = True, 
      profile = True,
      session_id = 707)

IntProgress(value=0, description='Processing: ', max=3)

Initiated  . . . . . . . . . . . . . . . . . .                     16:27:36
Status     . . . . . . . . . . . . . . . . . .  Preparing Data for Modeling
ETC        . . . . . . . . . . . . . . . . . .              Calculating ETC